{% include "base.html.twig" %}

{% block stylesheets %}{% endblock %}
{% block body %}
    <br/>
    <div class="center" style="text-align: center;">
    <h3>Your Bookings</h3>
    {% for reservation in reservations %}
        <div class="text" style="text-align: center;">
            <div class="id">Booking id: {{ reservation.id }}</div>

        </div>
        </div>
    {% endfor %}
{% endblock %}